<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Storage Management</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button expand="block" color="danger" (click)="clearStorage()">
    <ion-icon name="trash-outline" slot="start"></ion-icon>
    Clear All Storage
  </ion-button>

  <ion-modal *ngIf="showConfirmModal" [isOpen]="showConfirmModal" (didDismiss)="dismissModal()">
    <ion-header>
      <ion-toolbar>
        <ion-title>Confirm Delete</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <p>Are you sure you want to delete {{ selectedItem?.name }}?</p>
      <ion-button expand="block" color="danger" (click)="confirmDelete()">
        <ion-icon name="trash-outline" slot="start"></ion-icon>
        Yes, Delete
      </ion-button>
      <ion-button expand="block" color="light" (click)="dismissModal()">Cancel</ion-button>
    </ion-content>
  </ion-modal>
</ion-content> -->