
ion-content {
    --background: #8a92eb;
  }
  
  .image-card {
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    margin: 9px;
  }
  
  .image-card:hover {
    transform: scale(1.05);
  }
  
  ion-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    height: 200px;
  }
  
//   ion-card-header {
//     background-color: #007bff;
//     color: white;
//     text-align: center;
//     padding: 10px;
//   }
  
  ion-card-content {
    text-align: center;
    font-size: 2px;
    padding: 1px;
    background-color: #abb0eb;
  }
  
  .timing {
    font-style: italic;
    color: #151f3f;
  }

  .gallary{
    color:#8a92eb;
    background-color: #a6dcf1;
  }
  
    