<!-- <app-tab1></app-tab1> -->


<ion-header>
  <ion-toolbar class="gallary">
    <ion-title> Gallery</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBackToTabs()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="image-card">
          <ion-img src="assets/images/4.jpg"></ion-img>
          <ion-card-content>
            <p class="timing">10:30 AM,Oct 2024</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="image-card">
          <ion-img src="assets/images/1.jpg"></ion-img>
          <ion-card-content>
            <p class="timing">11:00 AM,Oct 2024</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card class="image-card">
          <ion-img src="assets/images/2.jpg"></ion-img>
          <ion-card-content>
            <p class="timing">10:30 AM,Oct 2024</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="image-card">
          <ion-img src="assets/images/5.jpg"></ion-img>
          <ion-card-content>
            <p class="timing">11:00 AM,Oct 2024</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>






  <div class="video-container">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card class="video-card">
            <video controls>
              <source src="assets/images/video.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <ion-card-content>
              <p class="timing">12:30 PM,Oct 2024</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="video-card">
            <video controls>
              <source src="assets/images/video2.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <ion-card-content>
              <p class="timing">12:30 PM,Oct 2024</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </div>
</ion-content>