
// ion-content {
//     --background: #8a92eb;
//   }
  
//   .image-card {
//     border-radius: 10px;
//     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
//     transition: transform 0.2s ease-in-out;
//     margin: 9px;
//   }
  
//   .image-card:hover {
//     transform: scale(1.05);
//   }
  
//   ion-img {
//     border-top-left-radius: 10px;
//     border-top-right-radius: 10px;
//     object-fit: cover;
//     height: 200px;
//   }
  
// //   ion-card-header {
// //     background-color: #007bff;
// //     color: white;
// //     text-align: center;
// //     padding: 10px;
// //   }
  
//   ion-card-content {
//     text-align: center;
//     font-size: 2px;
//     padding: 1px;
//     background-color: #abb0eb;
//   }
  
//   .timing {
//     font-style: italic;
//     color: #151f3f;
//   }

//   .gallary{
//     color:#8a92eb;
//     background-color: #a6dcf1;
//   }
  
//   .video-container {
//     margin-top: 20px;
//   }
  
//   .video-card video {
//     width: 100%;
//     height: auto;
//   }
  

// ion-card-content {
//   text-align: center;
//        font-size: 2px;
//       //  padding: 1px;
//        background-color: #abb0eb;
//     }
// ion-content{
//   background-color: #731111;
// }
ion-content {
  --background: #8a92eb;
}
.gallary {
  --background: #8a93f8;
  color: white;
}

.image-card {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.image-card ion-img {
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
}

ion-card-title {
  font-weight: bold;
  font-size: 1.2em;
}

ion-card-subtitle {
  color: #757575;
  font-size: 0.6em;
padding-left: 2px;
}

.description {
  margin-top: 2px;
  font-size: 0.5em;
  color: #555;
}

.timing {
  color: #a9b0f9;
  font-size: 0.8em;
  margin-top: 2px;
}

.download-btn {
  margin-top: 15px;
  --background: #0c242b;
  color: #8a92eb;
  font-size: 1.1em;
  border-radius: 3px;
}

    