<ion-header>
  <ion-toolbar class="gallary">
    <ion-title>Downloads</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToTab2()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="image-card">
          <ion-img src="assets/images/down1 (1).jpg"></ion-img>
          <ion-card-content>
            <p class="description">A serene sunrise captured in the early hours of the day.</p>
            <p class="timing">10:30 AM, Oct 2024</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="image-card">
          <ion-img src="assets/images/down2.jpg"></ion-img>

          <ion-card-content>
            <p class="description">A beautiful mountain view from the peak.</p>
            <p class="timing">11:00 AM, Oct 2024</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="image-card">
          <ion-img src="assets/images/down3.jpg"></ion-img>

          <ion-card-content>
            <p class="description">A relaxing view of the beach during sunset.</p>
            <p class="timing">10:30 AM, Oct 2024</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="image-card">
          <ion-img src="assets/images/down4.jpg"></ion-img>

          <ion-card-content>
            <p class="description">A peaceful walk through the forest.</p>
            <p class="timing">11:00 AM, Oct 2024</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



 <ion-button expand="block" (click)="downloadFile()">
    <ion-icon name="download-outline"></ion-icon>
    Download File
  </ion-button>

  <ion-item *ngIf="showConfirmation" lines="none">
    <ion-icon name="checkmark-circle-outline" color="success" slot="start"></ion-icon>
    <ion-label>File downloaded successfully!</ion-label>
  </ion-item>

  <ion-list *ngIf="downloadHistory.length > 0">
    <ion-list-header>
      <ion-label>Download History</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of downloadHistory">
      <ion-label>{{ item.name }} - {{ item.date | date: 'short' }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>